/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #ffffff60;
  /*background: rgba(12, 11, 9, 0.6);*/
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 80px;
}

#header.header-scrolled {
  top: 40px;
  /*background: rgba(0, 0, 0, 0.85);*/
  background: #ffffff90;
  border-bottom: 1px solid #37332a;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 80px;
}

.custom-outline-text {
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-text);
  background-color: transparent;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*hover link */
.custom-outline-text:hover {
  color: var(--color-gold);
}

@media (max-width: 768px) {
  .custom-outline-text {
    font-size: 0.7rem !important;
  }
}

